<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>

  <!-- Fav icon -->
  <link rel="shortcut icon" href="../image/favicon-32x32.png" type="image/x-icon">

  <!-- Css Style Sheet -->
  <link rel="stylesheet" href="css/styles.css">
  
</head>

<body>
